{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "layouts": "./layouts",
          "components": "./components",
          "types": "./types",
          "endpoint": "./endpoint",
          "hooks": "./hooks"
        }
      }
    ]
  ]
}
